<h1>Appointments#index</h1>
<%= link_to "Create new Appointment", new_physician_appointment_path(@physician)%>
<%# <h2>Physicians</h2> %>
<ul>
<% @appointments.each do |appointment| %>
<li><%= appointment.patient.full_name %></li>
<%= link_to 'delete', physician_appointment_path(appointment, @physician), method: :delete%>
<% end %>
